.input-data-fields {
  width: 50vw;
  margin-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
}

.input-data-fields label {
  /* width: 800px; */
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: medium;
}

.input-data-fields input {
  margin-top: 0.5rem;
  padding: 5px;
  font-size: medium;
}

.input-data-fields button {
  width: auto;
  background-color: rgb(101, 55, 145);
  color: aliceblue;
  margin-top: 0.5rem;
  padding: 0.3rem 1rem;
  font-size: medium;
  align-self: flex-start;
}
